<!DOCTYPE HTML>
<!--/* 
	Le contrôleur transmet deux informations à cette vue :
		- galeries : la liste des galeries à afficher
		- message : un éventuel message d'erreur ou d'information
*/-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>DPP</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
	</head>
	<body>
		<h1>Données personnelles patient</h1>
		<!--/* On appelle l'URL 'add' du contôleur */-->
		<a th:href="@{add}" href='formulairePatient.html'>Ajouter un patient</a>
		<!--/* On affiche un éventuel message d'erreur */-->
		<h3 th:text="${message}">Message de succès ou d'erreur</h3>				
		<ul>
			<!--/* Pour chaque catégorie gdans la liste 'galeries' transmise par le contrôleur */-->
			<li th:each="p: ${patients}">
				Nom: <em th:text="${p.nom}">Le nom du patient</em>,
                                Prénom: <em th:text="${p.prenom}">Le prénom du patient</em>,
				Adresse: <em th:text="${p.adresse}">L'adresse du patient</em>,
                                Numéro de téléphone: <em th:text="${p.numeroDeTel}">Le numéro du patient</em>,
                                Adresse mail <em th:text="${p.email}">L'adresse mail du patient</em>,
                                
                                <a th:href="@{delete(id=${p.id})}">Supprimer le patient [[${p.id}]]</a>
                              
			</li>
		</ul>
		<hr/>
		<a th:href="@{/}" href="../static/index.html">Retour au menu</a>
		<hr/>
	</body>
</html>