<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DPP</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
    </head>
    <body>
        
        <div class="header">
            <h1>Autismo No : La solution à vos problèmes</h1>
        </div>

        <ul>
            <li class="active"><a>Données Personnelles</a></li>
            <li><a href="">Suivi</a></li>
            <li><a href="">Contact Médecin </a></li>
            <li><a href="">Messagerie</a></li>
        </ul>

        <table>
            <tr>
                <th>Données Personnelles </th>
                <th></th>
            </tr>
            <tr>
                <td>Identifiant</td>
                <td><span th:text="${#authentication.name}">Untel</span></td>
            </tr>
            <tr>
                <td>Nom</td>
                <td >Le nom du patient </td><!--th:text="${p.nom}"-->
            </tr>
            <tr>
                <td>Prénom</td>
                <td >Le prénom du patient</td><!--th:text="${p.prenom}"-->
            </tr>
            <tr>
                <td>Sexe</td>
                <td>Homme</td>
            </tr>
            <tr>
                <td>Date de naissance</td>
                <td >La date de naissance du patient</td><!--th:text="${p.datedenaissance}"-->
            </tr>
            <tr>
                <td>Adresse</td>
               <td >L'adresse du patient</td> <!--th:text="${p.adresse}"-->
            </tr>
            <tr>
                <td>Tél.</td>
                <td >Le numéro du patient</td><!--th:text="${p.numeroDeTel}"-->
            </tr>
            <tr>
                <td>Adresse mail</td>
                <td >L'adresse mail du patient</td><!--th:text="${p.email}"-->
            </tr>
            
        </table>
        <hr/>
        <!--/* On appelle l'URL 'add' du contôleur */-->
        <a th:href="@{add}" href='formulairePatient.html'>Ajouter une donnée</a>
        <!--/* On affiche un éventuel message d'erreur */-->
        <h3 th:text="${message}">Message de succès ou d'erreur</h3>
        <hr/>
        <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
        <hr/>
        
    </body>
</html>
